@page "/cadence-speed"
@using CyclingPerformance.Web.Components.Calculators

<PageTitle>Cadence - Speed Calculator</PageTitle>

<h1 class="page-h1">Cadence - Speed Calculator</h1>
<MudStack Spacing="5">       
    <CadenceSpeedCalculator />
</MudStack>
