@page "/calculators"

<PageTitle>Calculators</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium" >
    <h1 class="page-h1">Calculators</h1>
    <MudStack Spacing="5">
        <PowerTimeCalculator />
        <CadenceCalculator />
    </MudStack>
     
</MudContainer>