@page "/calculators"

<PageTitle>Calculators</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium">
    <h1 class="page-h1">Calculators</h1>
    <div>
        <h3 class="text-center mb-3">Climb Power/Time calculator</h3>
        <ClimbPowerTimeCalculator />
    </div>
</MudContainer>