@page "/critical-power"
@using CyclingPerformance.Web.Components.Calculators

<PageTitle>Critical Power Calculator</PageTitle>

<h1 class="page-h1">Critical Power Calculator</h1>
<MudStack Spacing="5">
    <CriticalPowerCalculator />
    <FtpZonesCalculator />
</MudStack>

