@page "/"

<PageTitle>Home</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium">
    <h1 class="page-h1">Hello, cyclists!</h1>

    <p class="mb-3 text-center">Welcome to Cycling Performance, a web application to help you with all cycling related calculations.</p>

    <div class="d-flex justify-center">
        <NavLink href="calculators">
            <MudButton Variant="Variant.Text" Color="Color.Primary">Calculators</MudButton>
        </NavLink>
    </div>

</MudContainer>    


