@page "/power-time"
@using CyclingPerformance.Web.Components.Calculators

<PageTitle>Power - Time Calculator</PageTitle>

<h1 class="page-h1">Power - Time Calculator</h1>
<MudStack Spacing="5">
    <PowerTimeCalculator />
</MudStack>
     
