@using CyclingPerformance.Web.Models
@using CyclingPerformance.Web.Services

<MudCard>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">Cadence - Speed Calculator</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudIconButton Icon="@Icons.Material.Filled.Minimize" Color="Color.Default" OnClick="ResetCalculation" />
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardContent>    
        <MudForm @ref="cadenceSpeedCalculatorForm" Model="model" Spacing="5" >
            <MudTextField T="string" Label="Chainrings (comma separated)" @bind-Value="chainringsInput" Required="true" />
            <MudTextField T="string" Label="Sprockets (comma separated)" @bind-Value="sprocketsInput" Required="true" />

            <MudGrid>
                <MudItem xs="6">
                    <MudNumericField T="double" Label="Rim Diameter (mm)" @bind-Value="model.RimDiameter" For="() => model.RimDiameter" Required="true" />
                </MudItem>
                <MudItem xs="6">
                    <MudNumericField T="double" Label="Tire Width (mm)" @bind-Value="model.TireThickness" For="() => model.TireThickness" Required="true" />
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem xs="4">
                    <MudNumericField T="int" Label="Cadence From" @bind-Value="model.CadenceFrom" For="() => model.CadenceFrom" Min="0" Max="model.CadenceTo" Required="true" />
                </MudItem>
                <MudItem xs="4">
                    <MudNumericField T="int" Label="Cadence To" @bind-Value="model.CadenceTo" For="() => model.CadenceTo" Min="model.CadenceFrom" Required="true" />
                </MudItem>
                <MudItem xs="4">
                    <MudNumericField T="int" Label="Cadence Step" @bind-Value="model.CadenceStep" For="() => model.CadenceStep" Required="true" />
                </MudItem>
            </MudGrid>

            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Calculate">Calculate</MudButton>
        </MudForm>

        @if (speedResults.Count > 0)
        {
            <p class="mb-0 mt-3 text-center">Speed (km/h)</p>
            <MudSimpleTable Striped="true" Hover="true" Bordered="true" FixedHeader="true" Class="mt-3" Style="height: 650px">

                <thead>
                    <tr>
                        <th>Gear</th>
                        @foreach (var cadence in cadenceList)
                        {
                            <th>@cadence rpm</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var result in speedResults)
                    {
                        <tr>
                            <td>@result.Gear</td>
                            @foreach (var speed in result.Speeds)
                            {
                                <td>@speed.ToString("0.00")</td>
                            }
                        </tr>
                    }
                </tbody>
            </MudSimpleTable>
        }
    </MudCardContent>
</MudCard>
@code {
    [Inject] private ICadenceSpeedCalculationService _cadenceSpeedCalculationService { get; set; } = default!;
    private MudForm cadenceSpeedCalculatorForm = new();
    private CadenceSpeedCalculatorModel model = new CadenceSpeedCalculatorModel();
    private List<int> cadenceList = new List<int>();
    private List<(string Gear, List<double> Speeds)> speedResults = new();
    private string chainringsInput = "36,52";
    private string sprocketsInput = "11,12,13,14,15,17,19,21,24,27,30,34";

    protected override void OnInitialized()
    {
        model = new CadenceSpeedCalculatorModel
            {
                Chainrings = [],
                Sprockets = [],
                CadenceFrom = 50,
                CadenceTo = 130,
                CadenceStep = 10,
                RimDiameter = 622,
                TireThickness = 28
            };
    }

    private async Task Calculate()
    {
        await cadenceSpeedCalculatorForm.Validate();

        if (!cadenceSpeedCalculatorForm.IsValid)
        {
            Console.WriteLine("Form is invalid.");
            return;
        }

        model.Chainrings = chainringsInput.Split(',').Select(int.Parse).ToArray();
        model.Sprockets = sprocketsInput.Split(',').Select(int.Parse).ToArray();

        cadenceList = Enumerable.Range(0, (int)((model.CadenceTo - model.CadenceFrom) / model.CadenceStep) + 1)
                                .Select(i => model.CadenceFrom + i * model.CadenceStep).ToList();

        speedResults = new List<(string Gear, List<double> Speeds)>();

        foreach (var chainring in model.Chainrings)
        {
            foreach (var sprocket in model.Sprockets)
            {
                var gear = $"{chainring}×{sprocket}";
                var gearRatio = _cadenceSpeedCalculationService.CalculateGearRatio(chainring, sprocket);
                var developmentMeters = _cadenceSpeedCalculationService.CalculateDevelopmentMeters(gearRatio, model.TireThickness, model.RimDiameter);
                var speeds = cadenceList.Select(cadence => _cadenceSpeedCalculationService.CalculateSpeedKmh(developmentMeters, cadence)).ToList();
                speedResults.Add((gear, speeds));
            }
        }
    }

    private void ResetCalculation()
    {
        speedResults.Clear();           
    }
}
